[Unit]
Description=Camera Sender Service
After=network.target network-online.target

[Service]
Type=simple
User=CURRENT_USER_PLACEHOLDER
WorkingDirectory=CURRENT_DIR_PLACEHOLDER
# Start the camera app
ExecStart=/usr/bin/python3 CURRENT_DIR_PLACEHOLDER/app.py
# Auto-restart is crucial for Dual Camera flexibility. 
# If a camera is unplugged, it will die and keep retrying quietly every 10 seconds.
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
