[Unit]
Description=MQTT System Controller
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
Type=simple
User=root
WorkingDirectory=/home/wf51/pi02w_sender/camera_node
ExecStart=/usr/bin/python3 /home/wf51/pi02w_sender/camera_node/mqtt_sys_ctrl.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
